{
	"irc_server": "irc.afraidirc.net",
	"irc_port": 6697,
	"use_ssl": true,
	"timeout": 15,
	"bot_nick": "ClassyBot",
	"bot_ident": "classy",
	"bot_realname": "ClassyBot",
	"trigger": "!",
	"autojoin_channels": {
		"#ClassyBot",
		"#lobby"
	},
	"channel_settings": {
		"#lobby": {
			"greetings": "true",
			"key": false
		},
		"#channel": {
			"greetings": false,
			"key": "ChannelKey!"
		}
	},
	"users": {
		"Owner": {
			"hostname": "my.full.hostname.no.wild.cards",
			"flags": "*",
			"greeting": "Hello master"
		},
		"QuotesAdmin": {
			"hostname": "quotes.master",
			"flags": "Q",
			"greeting": NULL
		}
	},
	"modules": {
		"nickserv": {
			"services_nick": "NickServ",
			"identify_string": "IDENTIFY ClassyBot awesomepassword",
			"register_string": "REGISTER ClassyBot awesomepassword bots@afraidirc.net",
			"ghost_string": "GHOST ClassyBot awesomepassword"
		}
	}
}
